*{
    color: #444;
    font-size: 24px; 
    padding: 5px;
    margin: auto;     
}
.head_Nav_menu{     
   padding: 20px;
   border: 1px solid #777;
   text-align: center;
   background-color: aquamarine; 
}
.content {          
    padding: 90px 15px;
    border: 1px solid #777;
    background-color: aliceblue;     
}
#main_content{         
    padding: 90px 70px;
    border: 1px solid #777;
    background-color: blanchedalmond;
}

h2 {
    text-align: center;
    margin-top: 15px;
}
